<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>
<body>
    <div class="container bg-light border rounded pb-3">
        <h1 class="display1 text-center">Chatio </h1>
        <!-- Select name and room form -->
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">Your name</label>
              <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
            </div>



            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
    </div>

</body>
</html>